{% load static %}  
{% if user.is_authenticated %}
<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <title>My profile</title>
    <link rel="stylesheet" href="{% static 'css/profileStyle.css'%}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
        <div class="logo_name">BusinessMarker</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
          <i class='bx bx-search' ></i>
         <input type="text" placeholder="Search...">
         <span class="tooltip">Search</span>
      </li>
      <li>
        <a onclick="tabs(0)" class="tab">
          <i class='bx bx-user'></i>
          <span class="links_name">Account</span>
        </a>
         <span class="tooltip">Account</span>
      </li>
      <li>
       <a onclick="tabs(1)" class="tab">
         <i class='bx bxs-carousel' ></i>
         <span class="links_name">Subscription</span>
       </a>
       <span class="tooltip">Subscription</span>
     </li>
     <li>
       <a onclick="tabs(2)" class="tab">
         <i class='bx bx-chat' ></i>
         <span class="links_name">Notifications</span>
       </a>
       <span class="tooltip">Notifications</span>
     </li>
     <li>
       <a onclick="tabs(3)" class="tab">
         <i class='bx bxs-badge-dollar' ></i>
         <span class="links_name">Payment</span>
       </a>
       <span class="tooltip">Payment</span>
     </li>
     <li>
       <a onclick="tabs(4)" class="tab">
         <i class='bx bx-desktop' ></i>
         <span class="links_name">Display</span>
       </a>
       <span class="tooltip">Display</span>
     </li>
     <li>
       <a onclick="tabs(5)" class="tab">
         <i class='bx bxs-news' ></i>
         <span class="links_name">What’s New</span>
       </a>
       <span class="tooltip">What’s New</span>
     </li>
     <li class="profile">
         <div class="profile-details">
           <img src="{% static 'images/avatar.jpg'%}" alt="profileImg">
           <div class="name_job">
             <div class="name">{{ user.get_username }}</div>
             <div class="job">{{ user.groups.all.0.name }}</div>
           </div>
         </div>
         <form method="POST" action="logout/">
          {% csrf_token %}
          <input type="image" class='bx bx-log-out' id="log_out" ></i>
         </form>
     </li>
    </ul>
  </div>
  {% include "map.html" %}  
  <!--
  <section class="home-section">
     
  </section>
-->
  <script src="{% static 'js/profileScript.js'%}"></script>
</body>
</html>
{% endif %}