{% load static %}  
{% if user.is_authenticated %}
<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <title>My profile</title>
    <link rel="stylesheet" href="{% static 'css/profileStyle.css'%}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/subscriptions.css'%}">
    <link rel="shortcut icon" href="{% static 'images/bm.png'%}">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
        <div class="logo_name"><a href="/">BusinessMarker</a></div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
          <i class='bx bx-search' ></i>
         <input type="text" placeholder="Search">
         <span class="tooltip">Search</span>
      </li>
      <li>
        <a onclick="tabs(0);" class="tab">
          <i class='bx bx-user'></i>
          <span class="links_name">Account</span>
        </a>
         <span class="tooltip">Account</span>
      </li>
      <li>
       <a onclick="tabs(1)" class="tab">
         <i class='bx bxs-carousel' ></i>
         <span class="links_name">Subscription</span>
       </a>
       <span class="tooltip">Subscription</span>
     </li>
     <!-- <li>
       <a onclick="tabs(2)" class="tab">
         <i class='bx bx-chat' ></i>
         <span class="links_name">Notifications</span>
       </a>
       <span class="tooltip">Notifications</span>
     </li>
     <li>
       <a onclick="tabs(3)" class="tab">
         <i class='bx bxs-badge-dollar' ></i>
         <span class="links_name">Payment</span>
       </a>
       <span class="tooltip">Payment</span>
     </li> -->
     <li>
       <a onclick="tabs(2)" class="tab">
         <i class='bx bx-desktop' ></i>
         <span class="links_name">Display Map</span>
       </a>
       <span class="tooltip">Display Map</span>
     </li>
     <li>
      <a onclick="tabs(4)" class="tab">
        <i class='bx bxs-news' ></i>
        <span class="links_name">What’s New</span>
      </a>
      <span class="tooltip">What’s New</span>
    </li>
     <li>
      <a onclick="tabs(3)" class="tab">
        <i class='bx bx-question-mark'></i>
        <span class="links_name">FAQ</span>
      </a>
      <span class="tooltip">FAQ</span>
    </li>
    {% if is_free or is_basic %}
    <ul class="sub-menu" id="restaurant" style="display: none;"></ul>
    <ul class="sub-menu" id="local" style="display: none;"></ul>
    {% endif %}
    {% if is_premium or is_standart or is_admin %}
    <li>
      <a class="tab">
        <i class='bx bx-collection'></i>
        <span class="links_name">Map Category</span>
        <i class="bx bxs-chevron-down arrow" style="color: #22212c;"></i>
      </a>
      <span class="tooltip">Map Category</span>
      <ul class="sub-menu" id="restaurant">
        <li class="restaurant"><a onclick="checkType('restaurant')">Restaurants</a></li>
        <li class="pharmacy"><a onclick="checkType('pharmacy')">Pharmacies</a></li>
        <li class="fuel"><a onclick="checkType('fuel')">Gas Stations</a></li>
      </ul>
    </li>
    <li>
      <a class="tab">
        <i class='bx bx-collection'></i>
        <span class="links_name">Source</span>
        <i class="bx bxs-chevron-down arrow" style="color: #22212c;"></i>
      </a>
      <span class="tooltip">Source</span>
      <ul class="sub-menu" id="local">
        <li class="local"><a onclick="checkType('local')">Local</a></li>
        <li class="api"><a onclick="checkType('api')">API</a></li>
      </ul>
    </li>
    {% endif %}
     <li class="profile">
         <div class="profile-details">
           <img src="{% static 'images/avatar.jpg'%}" alt="profileImg">
           <div class="name_job">
             <div class="name">{{ user.get_username }}</div>
             <div class="job">{{ user.groups.all.0.name }}</div>
             <!-- <div class="job">{{ add }} {{ is_premium }} {{ is_admin }}</div> -->
           </div>
         </div>
         <form method="POST" action="logout/">
          {% csrf_token %}
          <input type="image" class='bx bx-log-out' id="log_out">
         </form>
     </li>
    </ul>
  </div>

  <section class="home-section">
    <div class="container">
      <div class="profile tabShow" style="display: none;">
        <div class="form-container">
          <div class="center">
            <h1>Personal Info</h1>
            <form method="post">
              <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label>Email</label>
              </div>
              <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label>Phone number</label>
              </div>
              <div class="txt_field">
                <input type="password" required>
                <span></span>
                <label>Password</label>
              </div>
              <input type="submit" value="Update">
              <div class="delete">
                Don't want to be one of us anymore? <a href="#">Delete account</a>
              </div>
                <h1>Payment</h1>
                <form method="post">
                  <p>&nbsp;</p>
                  <input type="submit" value="Your Details">
                  <p>&nbsp;</p>
                  <input type="submit" value="Add PayPal">
                  <p>&nbsp;</p>
                  <input type="submit" value="Add Credit or Debit Card">
                  <p>&nbsp;</p>

            </form>
            
          </div>
        </div>
      </div>

      <div class="subscription tabShow" style="display: none;">
        <div class="form-container">
            <form method="post">
              <div class="pricing-table">
                <div class="pricing-card">
                  <h3 class="pricing-card-header">Basic</h3>
                  <div class="price"><sup>$</sup>15<span>/MO</span></div>
                  <h3>Basic</h3>
                  <h5>You get the ability to look up:</h5>
                  <p>&nbsp;</p>
                  <p>✅the different types of businesses in the regions of your country</p>
                  <p>&nbsp;</p>
                  <p>❌the lack of the selected business segment in percentage of our country</p>
                  <p>&nbsp;</p>
                  <p>❌use all the functionality of the site for every country</p>
                  <a href="#" onclick="tabs(5)" id="btn-basic" class="order-btn">Order Now</a>
                </div>

                <div class="pricing-card">
                  <h3 class="pricing-card-header">Standard</h3>
                  <div class="price"><sup>$</sup>30<span>/MO</span></div>
                  <h3>Standard</h3>
                  <h5>You get the ability to look up:</h5>
                  <p>&nbsp;</p>
                  <p>✅the different types of businesses in the regions of your country</p>
                  <p>&nbsp;</p>
                  <p>✅the lack of the selected business segment in percentage of our country</p>
                  <p>&nbsp;</p>
                  <p>❌use all the functionality of the site for every country</p>
                  <a href="#" onclick="tabs(5)" id="btn-standard" class="order-btn">Order Now</a>
                </div>

                <div class="pricing-card">
                  <h3 class="pricing-card-header">Premium</h3>
                  <div class="price"><sup>$</sup>50<span>/MO</span></div>
                  <h3>Premium</h3>
                  <h5>You get the ability to look up:</h5>
                  <p>&nbsp;</p>
                  <p>✅the different types of businesses in the regions of your country</p>
                  <p>&nbsp;</p>
                  <p>✅the lack of the selected business segment in percentage of our country</p>
                  <p>&nbsp;</p>
                  <p>✅use all the functionality of the site for every country</p>
                  <a href="#" onclick="tabs(5)" id="btn-premium" class="order-btn">Order Now</a>
                </div>
              </div>
              <script>
                '{% if is_basic %}'
                document.getElementById("btn-basic").innerHTML = 'Current';
                document.getElementById("btn-standard").innerHTML = 'Upgrade';
                document.getElementById("btn-premium").innerHTML = 'Upgrade';
                '{% endif %}'
      
                '{% if is_standart %}'
                document.getElementById("btn-basic").innerHTML = 'Ur vip';
                document.getElementById("btn-standard").innerHTML = 'Current';
                document.getElementById("btn-premium").innerHTML = 'Upgrade';
                '{% endif %}'
      
                '{% if is_premium %}'
                document.getElementById("btn-basic").innerHTML = 'Ur vip';
                document.getElementById("btn-standard").innerHTML = 'Ur vip';
                document.getElementById("btn-premium").innerHTML = 'Current';
                '{% endif %}'
                </script>
              <div class="center" style="background: transparent; top: 90%">
                
  
                <input type="submit" value="Cancel membership">
                <p>&nbsp;</p>
                </div>
            </form>
         
        </div>
      </div>



      <div class="display tabShow">
        {% if is_free %}
        <div style="z-index: 1; position: absolute; background-color: rgb(215 24 24 / 54%);"><p >UR IN FREE TRIAL</p></div>      
        {% endif %}
        <div style="z-index: 0;">{% include "map.html" %}</div>
      </div>
    </div>
    <div class="tabShow" style="display: none;">
      <div class="slider cards-container">
        <div class="item center card-new-container">
            <img src="{% static 'images/draw.gif'%}">
            <h2>Step 1</h2>
            <p>To interact with the map, you must select one of the shape options located in the upper right corner of the page.</p>
        </div>
    
        <div class="item center card-new-container">
            <img src="{% static 'images/show.gif'%}">
            <h2>Step 2</h2>
            <p>Then, a window will appear above your figure showing the required information for the current selected area.</p>
        </div>
    
        <div class="item center card-new-container">
            <img src="{% static 'images/drag.gif'%}">
            <h2>Step 3</h2>
            <p>The shape could be dragged and dropped over another section of the map and show you the info of the new section.</p>
        </div>
    
        <a class="prev" onclick="minusSlide()">&#10094;</a>
        <a class="next" onclick="plusSlide()">&#10095;</a>
    </div>
      <!-- <div class="form-container">
        <div class="cards-container">
          <div class="card-new-container">
              <img src="{% static 'images/draw.gif'%}" alt="">
              <h2>Step 1</h2>
              <p>To interact with the map, you must select one of the shape options located in the upper right corner of the page.</p>
          </div>
          <div class="card-new-container-mid">
            <img src="{% static 'images/show.gif'%}" alt="">
            <h2>Step 2</h2>
            <p>Then, a window will appear above your figure showing the required information for the current selected area.</p>
        </div>
        <div class="card-new-container">
          <img src="{% static 'images/drag.gif'%}" alt="">
          <h2>Step 3</h2>
          <p>The shape could be dragged and dropped over another section of the map and show you the info of the new section.</p>
      </div>
      <a class="prev" onclick="minusSlide()">&#10094;</a>
    <a class="next" onclick="plusSlide()">&#10095;</a>
      </div>

      <div class="slider-dots">
        <span class="slider-dots_item" onclick="currentSlide(1)"></span> 
        <span class="slider-dots_item" onclick="currentSlide(2)"></span> 
        <span class="slider-dots_item" onclick="currentSlide(3)"></span> 
    </div> -->
</div>
</div>

    <div class="notifications tabShow" style="display: none;">
      <div class="form-container">
        <div class="center">
          <h1>What's new</h1>
          <form method="post">
            {% for element in news %}
            <div>
              <h3>{{element.date}} - {{element.comment}}</h3>
            </div>
            {% endfor %}
            <!-- <script>
              $.ajax({
                url: "https://api.github.com/repos/firotss/businessmarker/commits",
                type: "GET",
                success: function(commits){
                  commits.forEach(element => {
                   console.log(element['commit']['message'] +" - "+ element['commit']['author']['date'])
                  });
                  }});
            </script> -->
          </form>
        </div>
      </div>
    </div>
    <div class="tabShow form-container" style="display: none;">
      {% include "pay.html" %}
    </div>
  </section>
  
  <script src="{% static 'js/profileScript.js'%}"></script>
</body>
</html>
{% endif %}