{% load static %}  
<link
rel="stylesheet"
href="https://js.arcgis.com/4.22/esri/themes/dark/main.css"
/>
<script src="https://js.arcgis.com/4.22/"></script>
<style>
html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: rgba(50,50,50);
}
</style>
<script>
require([
  "esri/widgets/Sketch",
  "esri/Map",
  "esri/layers/GraphicsLayer",
  "esri/views/MapView"
], (Sketch, Map, GraphicsLayer, MapView) => {
  const graphicsLayer = new GraphicsLayer();

  const map = new Map({
    basemap: "dark-gray-vector",
    layers: [graphicsLayer]
  });

  const view = new MapView({
    container: "viewDiv",
    map: map,
    zoom: 11,
    center: [23.34, 42.69]
  });

  view.when(() => {
    const sketch = new Sketch({
      layer: graphicsLayer,
      view: view,
      creationMode: "update"
    });
    sketch.on("update", function(event){
      if (event.tool == "transform" ){
        console.log(event.graphics[0].geometry);
      }
      else
      {
        console.log(event.tool)
        console.log(event.graphics[0].geometry.latitude)
        console.log(event.graphics[0].geometry.longitude)
        
      }
    });

    view.ui.add(sketch, "top-right");
  });
});

</script>

<div id="viewDiv"></div>