{% load static %}  
<link
rel="stylesheet"
href="https://js.arcgis.com/4.22/esri/themes/dark/main.css"
/>
<script src="https://js.arcgis.com/4.22/"></script>
<style>
html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: rgba(50,50,50);
}
</style>
<script>
require([
  "esri/widgets/Sketch",
  "esri/Map",
  "esri/layers/GraphicsLayer",
  "esri/views/MapView"
], (Sketch, Map, GraphicsLayer, MapView) => {
  const graphicsLayer = new GraphicsLayer();

  const map = new Map({
    basemap: "dark-gray-vector",
    layers: [graphicsLayer]
  });

  const view = new MapView({
    container: "viewDiv",
    map: map,
    zoom: 11,
    center: [23.34, 42.69]
  });

  view.when(() => {
    const sketch = new Sketch({
      layer: graphicsLayer,
      view: view,
      creationMode: "update"
    });
    sketch.on("update", function(event){
      if (event.tool == "transform" ){
        let xmin = event.graphics[0].geometry.extent.xmax - event.graphics[0].geometry.extent.xmin;
        let xcount = xmin /100000 / 2;
        xcount = Number((xcount).toFixed(3));
        xmin = event.graphics[0].geometry.centroid.longitude - xcount + xcount* 0.10;
        
        let xmax = event.graphics[0].geometry.centroid.longitude + xcount - xcount* 0.10;

        let ymin = event.graphics[0].geometry.extent.ymax - event.graphics[0].geometry.extent.ymin;
        let ycount = ymin /100000 / 2;
        ycount = Number((ycount).toFixed(3));
        ymin = event.graphics[0].geometry.centroid.latitude - ycount + ycount*0.57;
        
        let ymax = event.graphics[0].geometry.centroid.latitude + ycount - ycount*0.57;
        

        // let xmin = event.graphics[0].geometry.extent.xmin /100000 / 2 - event.graphics[0].geometry.centroid.longitude;
        // xmin = event.graphics[0].geometry.centroid.longitude - xmin / 100;
        // let ymin = event.graphics[0].geometry.extent.ymin /100000 / 2 - event.graphics[0].geometry.centroid.latitude;
        // ymin = event.graphics[0].geometry.centroid.latitude - ymin / 100;
        console.log(xmin+" - "+xmax)
        console.log(ymin+" - "+ymax)
        // //console.log(ymin)
        // console.log( event.graphics[0].geometry.extent.xmin);
        // console.log(event.graphics[0].geometry.centroid.longitude);
        // console.log(event.graphics[0].geometry.centroid.latitude);
        // console.log();
        // console.log(event.graphics[0].geometry.centroid.longitude - xmin)
        // console.log(event.graphics[0].geometry);
      }
      else
      {
        console.log(event.tool)
        console.log(event.graphics[0].geometry.latitude)
        console.log(event.graphics[0].geometry.longitude)
        
      }
    });

    view.ui.add(sketch, "top-right");
  });
});

</script>

<div id="viewDiv"></div>