{% load static %}  
<link
rel="stylesheet"
href="https://js.arcgis.com/4.22/esri/themes/dark/main.css"
/>
<script src="https://js.arcgis.com/4.22/"></script>
<style>
html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: rgba(50,50,50);
}
</style>
<script>
require([
  "esri/widgets/Sketch",
  "esri/Map",
  "esri/layers/GraphicsLayer",
  "esri/views/MapView",
  "esri/layers/FeatureLayer"
], (Sketch, Map, GraphicsLayer, MapView, FeatureLayer) => {
  const graphicsLayer = new GraphicsLayer();
  const baseLayer = new FeatureLayer({
          legendEnabled: false,
          popupEnabled: false,
          spatialReference: {
            wkid: 5936
          }
        });

  const map = new Map({
    
    basemap: "dark-gray-vector",
    layers: [baseLayer, graphicsLayer]
  });

  const view = new MapView({
    container: "viewDiv",
    map: map,
    zoom: 11,
    center: [23.34, 42.69]
  });

  view.when(() => {
    const sketch = new Sketch({
      layer: graphicsLayer,
      view: view,
      // graphic will be selected as soon as it is created
      creationMode: "update"
    });

    view.ui.add(sketch, "top-right");
  });
});
</script>

<div id="viewDiv"></div>