<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="subscriptions.css">
</head>
  <div class="pricing-table">
    <div class="pricing-card">
      <h3 class="pricing-card-header">Basic</h3>
      <div class="price"><sup>$</sup>15<span>/MO</span></div>
      <h3>Basic</h3>
      <h5>You get the ability to look up:</h5>
      <p>&nbsp;</p>
      <p>✅the different types of businesses in the regions of your country</p>
      <p>&nbsp;</p>
      <p>❌the lack of the selected business segment in percentage of our country</p>
      <p>&nbsp;</p>
      <p>❌use all the functionality of the site for every country</p>
      <a href="#" class="order-btn">Order Now</a>
    </div>

    <div class="pricing-card">
      <h3 class="pricing-card-header">Standard</h3>
      <div class="price"><sup>$</sup>30<span>/MO</span></div>
      <h3>Standard</h3>
      <h5>You get the ability to look up:</h5>
      <p>&nbsp;</p>
      <p>✅the different types of businesses in the regions of your country</p>
      <p>&nbsp;</p>
      <p>✅the lack of the selected business segment in percentage of our country</p>
      <p>&nbsp;</p>
      <p>❌use all the functionality of the site for every country</p>
      <a href="#" class="order-btn">Order Now</a>
    </div>

    <div class="pricing-card">
      <h3 class="pricing-card-header">Premium</h3>
      <div class="price"><sup>$</sup>50<span>/MO</span></div>
      <h3>Premium</h3>
      <h5>You get the ability to look up:</h5>
      <p>&nbsp;</p>
      <p>✅the different types of businesses in the regions of your country</p>
      <p>&nbsp;</p>
      <p>✅the lack of the selected business segment in percentage of our country</p>
      <p>&nbsp;</p>
      <p>✅use all the functionality of the site for every country</p>
      <a href="#" class="order-btn">Order Now</a>
    </div>
  </div>
</body>
</html>